
/*--------------------------------按钮样式-----------------------------------*/
/*底层划过样式按钮 start*/
.btn {
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    padding: 8px 20px;
    margin-bottom: 15px;
    white-space: normal;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-property: color;
    transition-duration: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden
}

.btn:hover, .btn:focus, .btn:active {
    color: #fff
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 -10px 0 -10px;
    overflow: hidden;
    pointer-events: none;
    -webkit-transform: skew(-20deg) translateX(-100%);
    transform: skew(-20deg) translateX(-100%);
    transition: .25s ease-in-out
}

.btn:hover:before, .btn:focus:before, .btn:active:before {
    -webkit-transform: skew(-20deg) translateX(0);
    transform: skew(-20deg) translateX(0)
}

.btn:hover:before, .btn:focus:before, .btn:active:before:hover {
    -webkit-transform: skew(-90deg) translateX(0);
    transform: skew(-90deg) translateX(0)
}

.btn.btn-orange-orange {
    color: #fe5000;
    border: 2px #fe5000 solid;
}

.btn.btn-orange-orange:hover {
    color: #fff;
}

.btn.btn-orange-orange:before {
    background-color: #fe5000;
}
