<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>覆盖率平台 | 质量控制中心</title>

    <!-- basic style -->
    <link href="//necolas.github.io/normalize.css/6.0.0/normalize.css" rel="stylesheet">
    <link href="//libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    <link href="../style/index.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--favicons-->
    <link rel="shortcut icon" href="../images/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="57*57" href="cov/images/ico/apple-touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="72*72" href="cov/images/ico/apple-touch-icon-72.ico">
    <link rel="apple-touch-icon" sizes="114*114" href="cov/images/ico/apple-touch-icon-114.ico">
</head>
<body>
<div class="fullpage">

<!-- fullpage section one start -->
<section class="section access">
    <!-- header start -->
    <nav class="navbar navbar-default">
        <div class="wapper">
            <!-- brand -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index.html">
                    <img class="hidden-xs" alt="Brand" height="" src="../images/logo.png">
                    <img class="visible-xs" alt="Brand" height="" src="../images/logo-xs.png">
                </a>
            </div>
            <!-- User -->
            <div class="navbar-user btn-group pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {{ username }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">设置</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
            <!-- menu -->
            <button type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false"
                    class="navbar-toggle collapsed visible-xs pull-right">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul id="menu" class="nav navbar-nav pull-right">
                <li><a href="/" class="active">首页</a></li>
                <li><a href="/product">产品模块</a></li>
                <li><a href="/product/create">接入</a></li>
                <li><a href="/help">帮助</a></li>
            </ul>
        </div>
    </nav>
    <!-- header end -->
    <!--access start-->
    <div class="middle-content-container access-container">
        <div class="middle-content content">
            <div class="wapper">
                <div class="text-area">
                    <p>全方位覆盖率统计</p>
                    <ul>
                        <li>全量数据现状显示</li>
                        <li>增量报表突出变化</li>
                        <li>用户报表聚焦个人</li>
                        <li>历史变更随时查询</li>
                    </ul>
                    <div>
                        <a class="btn btn-white-trans btn-lg" href="/product/create">立即接入</a>
                        <a class="btn btn-trans-white  btn-lg">Demo演示</a>
                    </div>
                </div>
                <div class="pic-area">
                    <img src="../images/earth.png">
                </div>
            </div>
        </div>
    </div>
    <!--access end-->
    <!--notice start-->
    <div class="notice">
        <div class="wapper">
            <span><img src="../images/notice.png">度秘音箱用户调研招募智能音箱用户深度访谈，用时1小时，酬劳150元。<a>【点击报名】</a></span>
        </div>
    </div>
    <!--notice end-->
</section>
<!-- fullpage section one end -->

<!-- fullpage section two start -->
<section class="section introduction">
    <div class="wapper center-wapper container">
        <div class="title middle-content-container">
            <p class="middle-content">解决所有覆盖率问题</p>
        </div>
        <div class="row intro-block">
            <div class="middle-content-container col-sm-4 col-xs-12">
                <div class="middle-content">
                    <img src="../images/total_cov.png">
                    <p>全量覆盖率</p>
                </div>
            </div>
            <div class="middle-content-container col-sm-4 col-xs-12">
                <div class="middle-content">
                    <img src="../images/incre_cov.png">
                    <p>增量覆盖率</p>
                </div>
            </div>
            <div class="middle-content-container col-sm-4 col-xs-12">
                <div class="middle-content">
                    <img src="../images/user_cov.png">
                    <p>用户覆盖率</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fullpage section two end -->

<!-- fullpage section three start -->
<section class="section feture">
    <div class="wapper center-wapper container">
        <div class="title middle-content-container">
            <p class="middle-content">平台特色</p>
        </div>
        <div class="row intro-block">
            <div class="middle-content-container col-sm-4 col-xs-12">
                <div class="middle-content">
                    <div>
                        <div class="flag-wapper">
                            <img src="../images/access.png">
                        </div>
                        <div>
                            <p>引导式接入</p>
                            <p class="sub-text">收集用户吐槽</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-content-container col-sm-4 col-xs-12">
                <div class="middle-content">
                    <div>
                        <div class="flag-wapper">
                            <img src="../images/config.png">
                        </div>
                        <div>
                            <p>自动化配置执行</p>
                            <p class="sub-text">发现问题提出评测重点</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-content-container col-sm-4 col-xs-12">
                <div class="middle-content">
                    <div>
                        <div class="flag-wapper">
                            <img src="../images/report.png">
                        </div>
                        <div>
                            <p>完备的报表显示</p>
                            <p class="sub-text">专业手段诊断产品问题</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fullpage section three end -->

<!-- fullpage section fore start -->
<section class="section statistic">
    <div class="wapper center-wapper container">
        <div class="title middle-content-container">
            <p class="middle-content">接入统计</p>
        </div>
        <div class="row intro-block">
            <div class="middle-content-container col-sm-4 col-xs-12">
                <div class="middle-content">
                    <div class="tran-bg"></div>
                    <div class="text">
                        <p class="count">710</p>
                        <p>产品数</p>
                    </div>
                </div>
            </div>
            <div class="middle-content-container col-sm-4 col-xs-12">
                <div class="middle-content">
                    <div class="tran-bg"></div>
                    <div class="text">
                        <p class="count">810</p>
                        <p>模块数</p>
                    </div>
                </div>
            </div>
            <div class="middle-content-container col-sm-4 col-xs-12">
                <div class="middle-content">
                    <div class="tran-bg"></div>
                    <div class="text">
                        <p class="count">56</p>
                        <p>日任务量</p>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- fullpage section fore end -->

<!-- fullpage section five start -->
<section class="section contact">
    <div class="contact">
        <div class="wapper center-wapper container">
            <div class="title middle-content-container">
                <p class="middle-content">联系我们</p>
            </div>
            <div class="row intro-block">
                <div class="middle-content-container col-sm-6 col-xs-12">
                    <div class="middle-content">
                        <div>
                            <img src="../images/hi_icon.png">
                            <span>Hi群：1553185</span>
                        </div>
                    </div>
                </div>
                <div class="middle-content-container col-sm-6 col-xs-12">
                    <div class="middle-content reverse-block">
                        <div>
                            <img src="../images/email_icon.png">
                            <span>邮件咨询：cov-group@baidu.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer middle-content-container">
        <div class="middle-content">
            <p>更多产品：<a>Monitor</a> | <a>Detector</a> | <a>华佗</a> | <a>Musi</a> | <a>Crab</a> | <a>阡陌</a> | <a>反馈</a></p>
            <p>Copyright@2016 | 百度质量工程中心</p>
        </div>
    </footer>
</section>
<!-- fullpage section five end -->


</div>
<!-- basic script -->
<script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="//s1.bdstatic.com/r/www/cache/ecom/esl/2-0-4/esl.js"></script>
<script src="//libs.baidu.com/bootstrap/3.0.3/js/bootstrap.js"></script>

<script src="../../lib/jquery/js/jquery.fullpage.min.js"></script>
<script src="../script/index.js"></script>

</body>
</html>